[package]
name = "gxhash"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.release]
debug = true

[dependencies]
rand = "0.8"

[dev-dependencies]
criterion = { version = "0.5.1" }
lazy_static = { version = "1.3" }
ahash = "0.8.3"
t1ha = "0.1.0"
twox-hash = "1.6.3"

[[bench]]
name = "throughput"
harness = false

[[bench]]
name = "ilp"
harness = false