[profile.release]
lto = "fat"
codegen-units = 1
panic = "abort"

[package]
name = "py-gxhash"
version = "0.1.0"
edition = "2021"

[lib]
name = "gxhash"
crate-type = ["cdylib"]

[dependencies]
pyo3 = "0.22.0"
gxhash = { path = "..", features = ["hybrid"], default-features = false }
