name: Benchmark

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:

  benchmark:
    name: Benchmark ${{ matrix.name }}

    strategy:
      fail-fast: false
      matrix:
        include:
        - name: "aarch64"
          runner: "buildjet-2vcpu-ubuntu-2204-arm"
          hybrid: false
        - name: "x86_64"
          runner: "buildjet-2vcpu-ubuntu-2204"
          hybrid: false
        - name: "x86_64-hybrid"
          runner: "buildjet-2vcpu-ubuntu-2204"
          hybrid: true

    runs-on: ${{ matrix.runner }}

    steps:
    - uses: actions/checkout@v4

    - name: Update rust
      run: rustup update

    - name: Switch to nightly rust
      if: ${{ matrix.hybrid == true }}
      run: rustup default nightly

    - name: Info
      run: |
        cat /proc/cpuinfo | grep 'model name' | uniq
        cargo rustc -- --version

    - name: Benchmark
      run: cargo bench --bench throughput --features bench-plot
      if: ${{ matrix.hybrid == false }}

    - name: Benchmark (hybrid)
      run: cargo bench --bench throughput --features bench-plot,hybrid
      if: ${{ matrix.hybrid == true }}

    - uses: actions/upload-artifact@v4
      with:
        name: benches
        path: benches/throughput/${{ matrix.name }}.svg
        overwrite: true

  commit:
    name: Commit & Push
    runs-on: buildjet-2vcpu-ubuntu-2204
    needs: [benchmark]

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    
    - name: Download Benchmark Results
      uses: actions/download-artifact@v4
      with:
        name: benches
        path: benches/throughput

    - name: Commit & Push Benchmark Results
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        file_pattern: '*.svg'
        commit_message: Update Benchmark Results
        commit_user_name: Benchmark Bot
        commit_user_email: benchmark-bot@noreply.com
        commit_author: Benchmark Bot <benchmark-bot@noreply.com>