name: Rust Version Compatibility

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:

  build_test_x86:
    name: Build & Test X86
    runs-on: ubuntu-latest

    strategy:
      matrix:
        version: ["1.65", "1.72", "1.78", "1.79"]

    steps:
    - uses: actions/checkout@v3

    - name: Install ${{ matrix.version }}
      run: rustup toolchain install ${{ matrix.version }}

    - name: Rust version
      run: cargo rustc -- --version

    - name: Build
      run: cargo +${{ matrix.version }} build --release --features hybrid

    - name: Test
      run: cargo +${{ matrix.version }} test --release --lib --features hybrid